.jaja{
    width: 100%;
    padding: 3%;
    background-color:rgb(240, 147, 217);
}
.jeje{
    background-color:cadetblue;
    padding-bottom: 2%;
}
textarea{
    width: 100%;
}
.jiji{
    background-color: rgb(127, 240, 240);
}